<footer class="footer bg-dark py-3 mt-auto border-top" id="footerid">
  <div
    class="container d-flex align-items-center justify-content-center flex-column"
  >
    <span class="text-light"
      ><a class="text-light fw-semibold" href="/">Bug Tracking System</a></span
    >
    <span class="text-light"
      >T S ANJUM |
      <a
        class="text-light fw-semibold"
        href="https://github.com/tsanjumkausar/BUG-DEBUG"
        >BUG-DEBUG</a
      ></span
    >
  </div>
</footer>

<style>
  #footerid .container {
    height: 100px;
  }
  #footerid .container a {
    text-decoration: none;
  }
</style>
